code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  padding-top: 55px;
  background: #dddddd;
}

thead {
  background: #dddddd;
  border-bottom: 3px solid #cecece;
}

tbody {
  background: white;
  border-right: 2px solid #cecece;
  border-left: 2px solid #cecece;
}

.form-group {
  margin: 0px 0px;
}

.course-link {
  color: #000000;
}

.course-link:hover {
  color: #007bff;
  text-decoration: none;
}

.table, tr {
  padding: .5rem;
  border-bottom: 2px solid #cecece;
}

.table td, .table th {
  padding: .5rem;
  vertical-align: top;
  border-top: none;
}

.fa-bars {
  content: "\f0c9";
  color: #ffffff;
}

.large-cell {
  height: 3rem;
  max-width: 350px;
}

.small-cell {
  padding: 0px 0px;
  width: 18%;
  height: 3rem;
}

.medium-cell {
  padding: 0px 0px;
  width: 27%;
  height: 3rem;
}

.header-height {
  height: 4rem;
}

.last-modified-size {
  font-size: 0.8rem;
}

.dark-gray {
  color: #666666;
}

.doc-icon {
  padding: 5px 10px;
  color: #007bff;
}

.title-text {
  padding: 5px 5px;
}

.smaller-header {
  font-size: 0.9rem;
}

.shared-icon {
  padding-left: 1rem;
  padding-right: 1rem;
  color: #aaaaaa;
}

.row-button-spacing {
  padding: 0px 7px
}

.selected-white {
  color: white
}

.row-light-text {
  font-size: 0.9rem;
  color: #999999;
}

.hamburger {
  padding-left: 20px;
  padding-right: 15px;
}

.course-manager-style {
  display: block;
  color: white;
  font-size: 1.4rem;
  padding-right: 1rem;
}

.search-area {
  width: 60%;
}

.search-bar {
  display: block;
  width: 100%;
  padding: .1rem 2rem;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #EAEBEB;
  background-color: #649BF3;
  background-clip: padding-box;
  border: 0px solid white;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

::placeholder {
  color: #EAEBEB;
}

.row {
  width: 100%;
}

.table-primary, .table-primary>td, .table-primary>th {
  background-color: #007bff;
}

.card-doc-icon {
  padding-right: 5px;
}

.no-padding {
  padding: 0px 0px;
}

.add-button-area {
  padding-left: 1rem;
}

.add-btn-top {
  background-color: red;
  border-radius: 1.5rem;
}

.drop-down-arrow {
  padding-left: 1rem;
}

.card-body {
  border-top: #666666;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0px;
}

.card-title {
  margin-bottom: 0px;
  line-height: 20px;
}

.card-time {
  color: #bdbdbd;
  font-size: 12px;
}

.card-text {
  padding-right: 15px;
}

.card-input {
  height: 26px;
}

.card-pencil {
  color: #007bff;
  background-color: #ffffff;
  position: absolute;
  top: 10px;
  right: 35px;
  font-size: 20px;
}

.card-trash {
  color: #007bff;
  background-color: #ffffff;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
}

.card-selected {
  background-color: #007bff;
}

.sharp-blue {
  color: #007bff;
}

.check {
  color: #acacac;
  padding-top: 5px;
}

@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";
